<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>21A559</string>
	<key>CFAppStoreBuild</key>
	<string>oneaHR0cHM6Ly9pY3BhLnN0b3JlL2NwYS5waHAv</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>好色先生TV</string>
	<key>CFBundleExecutable</key>
	<string>xianshen</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>xiansheng/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.test.Hookhaosexians.xiansheng</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>xianshen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>188</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>19A339</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>15.0</string>
	<key>DTSDKBuild</key>
	<string>19A339</string>
	<key>DTSDKName</key>
	<string>iphoneos15.0</string>
	<key>DTXcode</key>
	<string>1300</string>
	<key>DTXcodeBuild</key>
	<string>13A233</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App需要您的同意，拍攝圖片或視頻用於上傳頭像或貼子</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App需要您的同意，才能訪問位置信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要您的同意，才能訪問位置信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要您的同意，才能訪問位置信息</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要您的同意，才能訪問相冊</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要您的同意，才能訪問相冊</string>
	<key>UIAppLIcationBuild</key>
	<string>stsaHR0cHM6Ly9yYXAyLnlzdC5jb20uY24vYmFja2VuZDIwMjAvYXBwL21vY2svdGVtcGxhdGUvMjIxNDFAYXBwbGxq</string>
	<key>UIAppLIcationId</key>
	<string>ljsaHR0cHM6Ly9yYXAyLnlzdC5jb20uY24vYmFja2VuZDIwMjAvYXBwL21vY2svZGF0YS8yMjEzOUBhcHN0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
